# Ignorer les dossiers spécifiques
.vscode/
new_env/
venv/
AMI-diarization-setup/
results/
pyannote/

# Ignorer tout fichier temporaire ou inutile
*.pyc
__pycache__/
.DS_Store

# Ignorer les fichiers
.tokens
.wav
